.form__item {
    position: relative;
    margin-top: 50px;

    &.active {
        .form__labelAbove {
            display: block;
        }
    }

    &.not-valid {
        .form__labelAbove {
            color: red;
        }

        .form__input {
            border-color: red;
        }

        .form__label {
            color: red;
        }
    }

}

.form__labelAbove {
    display: none;
    position: absolute;
    top: -7px;
    left: 13px;
    padding: 0 4px;
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 500;
    line-height: 116.667%;
    background-color: #F8F8F8;
}

// .form__input

.form__input {
    position: relative;
    width: 380px;
    height: 54px;
    border-radius: 4px;
    border: 1px solid #D0CFCF;
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #F8F8F8;

    &:focus {
        background-color: #F8F8F8;
    }
}

.form__label {
    color: #7E7E7E;
    font-size: 12px;
    line-height: 116.667%;
    margin-left: 16px;
    margin-top: 4px;
}