.skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    background: #FFF;
    flex-basis: 328px;
    height: 250px;

    @media (min-width: 360px) {
        flex-basis: 344px;
    }

    @media (min-width: 768px) {
        flex-basis: 282px;
    }

    @media (min-width: 1024px) {
        flex-basis: 370px; 
    }
}